:host {
  --metatable-background-primary: var(--background-primary-alt);
  --metatable-background-secondary-alt: var(--background-secondary-alt);
  --metatable-background-secondary: var(--background-secondary);
  --metatable-border: var(--background-modifier-border);
  --metatable-font-size: 0.9em;
  --metatable-toggle: transparent;
}

* {
  box-sizing: border-box;
}

:host > details {
  border-bottom: 1px solid var(--metatable-border);
  color: var(--text-muted);
  font-size: var(--metatable-font-size);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

table {
  border-collapse: separate;
  width: 100%;
}

th {
  background-color: var(--metatable-background-primary);
  max-width: 20vw;
  min-width: 10vw;
  text-align: left;
  vertical-align: top;
  width: 10vw;
  white-space: nowrap;
}

th {
  border-right: 2px solid var(--metatable-border);
}

td, th {
  padding: 0.4rem;
}

table table {
  margin-bottom: 0.8rem;
  width: 98%;
}

li > table {
  margin-bottom: 0.8rem;
}

li:last-child > table {
  margin-bottom: 0;
}


table ul {
  margin: 0;
  padding: 0 0 0 2rem;
}


.toggle {
  background-color: var(--metatable-toggle);
  border: 0;
  border: 1px solid transparent;
  color: var(--text-normal);
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  line-height: 0.4rem;
  margin-left: 0.2rem;
  outline: none;
  padding: 0.2rem;
}

.toggle:hover {
  background-color: var(--metatable-background-secondary);
  border-color: var(--metatable-border);
}

[aria-hidden=true] {
  display: none;
}

.tag {
  background-color: var(--metatable-background-secondary-alt);
  border-radius: 0.8rem;
  border: 1px solid transparent;
  color: var(--text-normal);
  display: inline-block;
  font-size: 0.9em;
  margin-right: 0.2rem;
  padding: 0.1rem 0.8rem;
  text-decoration: none;
  white-space: nowrap;
}

.tag:hover {
  background-color: var(--metatable-background-secondary);
  border-color: var(--metatable-border);
}

summary {
  cursor: pointer;
  margin-bottom: 0.4rem;
}

summary:focus {
  outline: 1px solid var(--metatable-border);
}
