:host-context(.theme-light) {
  --metatable-foreground: var(--text-muted, darkslategrey);
  --metatable-key-background: var(--background-primary-alt, #f3f3f3);
  --metatable-key-border-color: var(--background-modifier-border, lightgrey);
  --metatable-key-border-color-focus: orange;
  --metatable-key-focus: var(--background-match-highlight, lightyellow);
  --metatable-tag-background: var(--background-primary-alt, #f3f3f3);
  --metatable-external-link-color: var(--text-accent, #705dcf);
  --metatable-external-link-color-hover: var(--text-accent-hover, #8875ff);
}

:host-context(.theme-dark) {
  --metatable-foreground: var(--text-muted, #999);
  --metatable-key-background: var(--background-primary-alt, #111);
  --metatable-key-border-color: var(--background-modifier-border, #333);
  --metatable-key-border-color-focus: orange;
  --metatable-key-focus: black;
  --metatable-tag-background: var(--background-primary-alt, #111);
  --metatable-external-link-color: var(--text-accent, #705dcf);
  --metatable-external-link-color-hover: var(--text-accent-hover, #8875ff);
}

:host {
  --metatable-collapsed-symbol: "▶︎";
  --metatable-expanded-symbol: "▼";
  --metatable-font-family: var(--text, sans-serif);
  --metatable-font-size: var(--font-small, 13px);
  --metatable-key-border-width: 2px;
  --metatable-key-min-width: 130px;
  --metatable-mark-symbol: "…";
  --metatable-value-background: transparent;
  --metatable-background: transparent;
  --metatable-external-link-icon: url(/public/images/874d8b8e340f75575caacd8d766a9659.svg);
  --metatable-tag-symbol: "";
}


* {
  box-sizing: border-box;
}

details {
  background-color: var(--metatable-background);
  color: var(--metatable-foreground);
  font-family: var(--metatable-font-family);
  font-size: var(--metatable-font-size);
}

summary {
  cursor: pointer;
}

summary:focus {
  outline: none;
}

summary:focus-visible {
  outline: none;
  background-color: var(--metatable-key-focus)
}

.set {
  background-color: var(--metatable-background);
  display: grid;
  grid-gap: 2px;
  margin-top: 0.4rem;
}

.member {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: minmax(0, 1fr) minmax(0, 4fr);
  grid-template-areas: "key value";
}

.key[role=button] {
  cursor: pointer;
}

.member .key {
  background-color: var(--metatable-key-background);
  border-right: var(--metatable-key-border-width) solid var(--metatable-key-border-color);
  display: block;
  font-weight: bold;
  grid-area: key;
  padding: 0.4rem;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: var(--metatable-key-min-width);
}

.member .value {
  background-color: var(--metatable-value-background);
  grid-area: value;
  margin: 0;
  padding: 0.4rem;
}

.member .key:focus {
  outline: none;
}

.member .key:focus-visible {
  outline: none;
  border-right-color: var(--metatable-key-border-color-focus);
  background-color: var(--metatable-key-focus);
}

.value ul {
  margin: 0;
  padding: 0;
}

.value li {
  margin-left: 1rem;
}

.key[aria-expanded]::before {
  margin-right: 0.3rem;
  font-size: 0.6rem;
}

.key[aria-expanded=true]::before {
  content: var(--metatable-expanded-symbol);
}

.key[aria-expanded=false]::before {
  content: var(--metatable-collapsed-symbol);
}

.key[aria-expanded=false] + .value > :first-child {
  display: none;
}

.key[aria-expanded=false] + .value > .marker::after {
  content: var(--metatable-mark-symbol);
  display: block;
  padding: 0.4rem;
}

/* Mappers */

.tag-list li {
  display: inline-block;
  margin: 0 0.4rem 0 0;
}

.tag {
  background-color: var(--metatable-tag-background);
  border-radius: 1rem;
  color: var(--metatable-foreground);
  display: inline-block;
  padding: 0.1rem 0.6rem;
  text-decoration: none;
}

.tag::before {
  content: var(--metatable-tag-symbol);
}

.tag:hover {
  filter: brightness(0.8);
}

.tag:focus, .external-link:focus {
  outline: none;
}

.tag:focus-visible, .external-link:focus-visible {
  outline: none;
  background-color: var(--metatable-key-focus)
}

.external-link {
  color: var(--metatable-external-link-color);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 450px;
  white-space: nowrap;
}

.external-link::after {
  content: var(--metatable-external-link-icon);
  display: inline-block;
  margin-left: 0.3rem;
  vertical-align: sub;
}

.external-link:hover {
  color: var(--metatable-external-link-color-hover);
}
